body h1
{
	font-family: 'Monofett', cursive;
	font-size: +1;
	background-image: url("https://www.sololearn.com/Uploads/header.jpg");
    background-size: cover;

}
li
{
	font-family: 'Loved by the King', cursive;
	font-size:1;

}
h3
{
	font-family: 'Bad Script', cursive;
	color:#acd897;
}
p
{
	font-family: 'Indie Flower', cursive;
}
.signin
{
	font-family: 'Gloria Hallelujah', cursive;
}
.date
{
	font-family: 'Lobster Two', cursive;
	color:#bcd887;
}
address
{
	color: green;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
h3 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}